/* Styles for the container */
.buttonContainer {
    display: flex; /* Use flex layout */
    align-items: center; /* Center vertically */

  }
  
  /* Styles for the review word button */
  .reviewWordButton {
    padding: 20px 20px; /* Adjust the padding to your preference */
    color: white; /* Text color for the button */
    border: none; /* Remove button border */
    cursor: pointer;
    vertical-align: middle;
    display: flex; /* Use flex layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  /* Styles for the delete button */
  .deleteWordButton {
    background-color: transparent;
    /* Adjust the padding to your preference */
    color: red; /* Text color for the delete button */
    border: none; /* Remove button border */
    cursor: pointer;
    vertical-align: middle;
    margin-right:45%;
  }
  