/* CategoryButton.css */

/* Styles for the button container */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
  }
  
  /* Styles for the category button */

  
  /* Styles for the category button in edit mode */
  .category-button-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for the text input in edit mode */
  .category-button-edit input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Styles for the Save button in edit mode */
  .edit-button {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
  }
  
  /* Styles for the category button in view mode */
  .category-button-view {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Styles for the profileCategoryButton in view mode */
  .profileCategoryButton {
    color: #007BFF;
    padding: 50px;
    cursor: pointer;
    width: 100%; 
    background-color: rgba(20, 131, 131, 0);
    border: 3px solid black;
    border-radius: 10px;
    font-size: 24px; /* Increase the font size */
    text-transform: capitalize;
    font-weight: bold;
    box-sizing: border-box;
    padding-right: 65px;
  }
  
  /* Styles for the Delete button */
  .delete-button {
    background-color: transparent;
    color:black;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
  }
  