/* Styles for the container */
.buttonContainer {
  display: flex;
  align-items: center;
}

  
  /* Styles for the review word button */
  .reviewWordButton {
    padding: 20px; /* Adjust the padding to your preference */
    color: white; /* Text color for the button */
    border: none; /* Remove button border */
    cursor: pointer;
    display: flex; /* Use flex layout */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin: 10px;
    text-transform: capitalize;
  }
  
  /* Styles for the delete button */
  .deleteWordButton {
    background-color: transparent;
    /* Adjust the padding to your preference */
    color: red; /* Text color for the delete button */
    cursor: pointer;
    margin-left: 0;
  }
  